apiVersion: v1
kind: Service
metadata:
  name: ${{ values.projectName }}
spec:
  selector:
    app: ${{ values.projectName }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
  type: LoadBalancer