trigger:
  branches:
    include:
      - main
variables:
  dockerRegistryServiceConnection: ${{ values.dockerRegistryServiceConnection }}
  imageRepository: ${{ values.imageRepository }}
  containerRegistry: ${{ values.containerRegistry }}
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: ${{ values.projectName }}
  vmImageName: 'ubuntu-latest'
pool:
  vmImage: $(vmImageName)

steps:
  - task: GoTool@0
    inputs:
      version: ${{ values.goVersion }}
    displayName: 'Install Go'

  - script: go build ./...
    displayName: 'Build'

  - script: go test ./...
    displayName: 'Run Tests'

  - task: Docker@2
    inputs:
      containerRegistry: $(dockerRegistryServiceConnection)
      repository: $(imageRepository)
      command: 'buildAndPush'
      Dockerfile: $(dockerfilePath)
      tags: |
          $(tag)
